.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin-left: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centrer les éléments horizontalement */
  justify-content: flex-start;  /* Placer les éléments au début (haut) du conteneur */
  min-height: 300px;  /* Définir une hauteur minimale pour éviter que le contenu ne soit trop serré */
}

.formGroup {
  margin-bottom: 15px; /* Ajouter un espace entre les groupes de champs */
}

.formGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.captchaContainer {
  margin: 15px 0;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.successMessage {
  color: green;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}
